
/* Ajustes generales */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  max-width: 100px;
  margin-left: 50px;
  margin-top: 10px;
}

.nav {
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: blue;
  font-size: larger;
}


/*  Header despegable */
header.scrolled {
  background-color: hsl(243, 87%, 12%);
}
header.scrolled .nav a {
  color: #fff;
}
header.scrolled .logo img {
  filter: brightness(0) invert(1);
}


/* section 1 */

.section1{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px;
  margin-bottom: -155px;
}

.section1 .content{
  flex: 1;
  margin-right: 150px;
}

.section1 .text h3{
  font-size: 24px;
  margin-bottom: 20px;
}

.section1 .text p {
  margin-bottom: 30px;
}

.section1 .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .image img {
  width: 90%;
}

.section1 .action input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.section1 .action button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* section 2 */
.section2{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px;
  background-image: url(./images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 155px;
}

.section2 .content {
  flex: 1;
  margin-right: 150px;
}

.section2 .content h3 {
  font-size: 24px;
  padding-bottom: 20px;
}

.section2 .content p {
  line-height: 1.5;
}

.section2 .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 .image img {
  width: 90%;
}

/* early-access */
.early-access .action input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.early-access .action button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.early-access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
  height: 100%;
}


/* footer */

.footer {
  background-color: hsl(243, 87%, 12%);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footer .logo {
  max-width: 100px;
  margin-bottom: 50px;
  filter: brightness(0) invert(1);
}

.footer-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info,
.footer-menu {
    margin-bottom: 20px;
  }

.contact-info div,
.footer-menu a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;

  }

  .contact-info .phone img{
    margin-right: 20px;
  }

  .contact-info .email img{
    margin-left: -45px;
  }

  .contact-info .email p{
    margin-left: -70px;
  }

  .footer-menu a {
    text-decoration: none;
    color: #fff;
  }

/* Medios para tablets y dispositivos más grandes */
@media (min-width: 620px) and (max-width: 991px) {
  header {
    flex-direction: row;
    justify-content: center;
  }

  .nav {
    display: flex;
  }

  .logo {
    order: 0;
  }

  .section1 .image img {
    width:140%;
}

  .section2 .image img {
    width:140%;
}

}
/* celulares */
@media (max-width: 767px) {

  .nav {
    display: none; /* Ocultar la navegación principal en dispositivos móviles */
  }

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Ajustamos el relleno para dispositivos móviles */
    margin-top: 50px;
  }

  .section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Ajustamos el relleno para dispositivos móviles */
    margin-top: 150px;
  }

  .section1 .content ,
  .section2 .content {
    text-align: center; /* Centramos el texto horizontalmente */
    margin-right: 0; /* Eliminamos el margen derecho */
  }

  .section1 .image img,
  .section2 .image img {
    width: 70%;
    max-width: 100%; /* Aseguramos que la imagen no supere el ancho del contenedor */
  }

.early-access {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.footer .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.contact-info p{
  margin: 0;
}

.footer .logo {
  margin: 0;
  margin-left: -80px;
  filter: brightness(0) invert(1);
}

}
